.mainContacto {
    background-image: url(./images/parque.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}